# Env variables
.env
.env.local
github_token.txt

# Notebooks
/datascience/notebooks
/pipeline/notebooks
/datascience/.local
/pipeline/.local
/datascience/.ipython
/pipeline/.ipython
/datascience/.cache
/pipeline/.cache
.ipynb_checkpoints/
.jupyter/

# Coverage reports
datascience/htmlcov/
pipeline/htmlcov/
datascience/.coverage
pipeline/.coverage
frontend/cypress/screenshots/
frontend/cypress/videos/

# Local data
/.backups
/data
/datascience/data
/pipeline/src/data/**/*
!/pipeline/src/data/**/dummy_control_objectives.csv
/datascience/src/pipeline/data/control_objectives.csv
/datascience/src/pipeline/data/control_unit_resources.csv
/datascience/src/pipeline/data/control_unit_contacts.csv
/datascience/src/pipeline/data/bases.csv
/datascience/src/pipeline/data/area_notes.csv
/datascience/src/pipeline/data/terms_notes.csv

# Python
*.pyc

# IDEs
.vscode
.idea
*.iml

# Doc
docs/redmine_wiki/*
datascience/docs/build
pipeline/docs/build

# TypeScript cache
*.tsbuildinfo

# Ignore Gradle project-specific cache directory
backend/.gradle
.gradle

# Ignore Gradle build output directory
backend/build

#Logs
backend/logs/*
