# Env variables
.env
pipeline/.monitorenv
.env.local
github_token.txt
/infra/data-pipeline-prefect3/.prefect-worker

# Notebooks
/pipeline/notebooks
/pipeline/.local
/pipeline/.ipython
/pipeline/.cache
.ipynb_checkpoints/
.jupyter/

# Coverage reports
pipeline/htmlcov/
pipeline/.coverage
frontend/cypress/screenshots/
frontend/cypress/videos/

# Local data
/.backups
/data
/pipeline/src/data/**/*
!/pipeline/src/data/**/dummy_control_objectives.csv

# Python
*.pyc

# IDEs
.vscode
.idea
*.iml

# Doc
docs/redmine_wiki/*
pipeline/docs/build

# TypeScript cache
*.tsbuildinfo

# Ignore Gradle project-specific cache directory
backend/.gradle
.gradle

# Ignore Gradle build output directory
backend/build

#Logs
backend/logs/*
