PROJECT_NAME=monitorenv
MONITORENV_URL=http://monitorenv-test.csam.e2.rie.gouv.fr
ENVIRONMENT=integration

################################################################################
# Geoserver

# Database host from geoserver container
GEOSERVER_DB_HOST=db
GEOSERVER_PORT=8081
GEOSERVER_ADMIN_USER=geoserveradmin
GEOSERVER_ADMIN_PASSWORD=changeme
# Host to access geoserver from within the server
GEOSERVER_HOST=localhost

################################################################################
# PostgreSQL

POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_DB=monitorenvdb
POSTGRES_HOST=localhost
POSTGRES_SCHEMA=public
# Remove `POSTGRES_PASSWORD` from .env in prod environment
POSTGRES_PASSWORD=postgres

################################################################################
# Backend

BACKEND_HTTP_PORT=8880

################################################################################
# Monitoring & Backup

SENTRY_DSN=""

MONITORENV_LOGS_AND_BACKUPS_GID=changeme
MONITORENV_LOGS_FOLDER=./logs
MONITORENV_BACKUPS_FOLDER=./backups


################################################################################
# MonitorFish
MONITORFISH_API_KEY=""

################################################################################
# OICD
MONITORENV_OIDC_ENABLED=false
MONITORENV_OIDC_AUTHORITY=https://authentification.recette.din.developpement-durable.gouv.fr/authSAML/oidc/monitorenv
MONITORENV_OIDC_CACHE_IN_MINUTES=120
FRONTEND_OIDC_AUTHORITY=${MONITORENV_OIDC_AUTHORITY}
FRONTEND_OIDC_CLIENT_ID=monitorenv
FRONTEND_OIDC_ENABLED=${MONITORENV_OIDC_ENABLED}
FRONTEND_OIDC_REDIRECT_URI=https://monitorenv.din.developpement-durable.gouv.fr
