.ol-attribution ul {
  text-shadow: none;
}

.ol-control button {
  background-color: #3b4559;
}

.ol-control {
  background: none;
}

.ol-control:hover {
  background: inherit;
}

.ol-control button,
.ol-control button:hover,
.ol-control button:focus {
  background-color: #3b4559;
  border-radius: 0px;
  font-size: 15px;
  padding-bottom: 5px;
}

.ol-scale-line {
  border-radius: 0px;
  position: absolute;
  bottom: 10px;
  left: 282px;
  display: inline-block;
  margin: 1px;
  padding: 1px 0px 1px 2px;
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  background-color: #3b4559;
}

.ol-scale-line-inner {
  margin: 3px 3px 3px 2px;
  line-height: 11px;
  padding-bottom: 4px;
}
.ol-control.ol-zoom {
  display: none;
}
.ol-control.zoom {
  bottom: 38px;
  left: 0.5em;
  width: 25px;
  height: 53px;
}

.ol-control.zoom > button {
  width: 25px;
  height: 25px;
}

.ol-overlay-container {
  height: 0;
  width: 0;
}
