.ol-attribution ul {
  text-shadow: none;
}

.ol-control {
  background: none;
}

.ol-control:hover {
  background: inherit;
}

.ol-control button,
.ol-control button:hover,
.ol-control button:focus {
  background-color: #3b4559;
  border-radius: 0px;
  font-size: 15px;
  padding-bottom: 5px;
  color: #fff;
}

.ol-scale-line {
  border-radius: 0px;
  position: absolute;
  bottom: 9px;
  left: 282px;
  display: inline-block;
  margin: 0px;
  padding: 2px 1px 1px 2px;
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  background-color: #3b4559;
}

.ol-scale-line-inner {
  color: white;
  margin: 3px 3px 3px 2px;
  line-height: 11px;
  padding-bottom: 4px;
  border-color: white;
  pointer-events: auto;
}
.ol-control.ol-zoom {
  display: none;
}
.ol-control.zoom {
  bottom: 38px;
  left: 0.5em;
  width: 25px;
  height: 53px;
}
.ol-control.zoom.dashboard-map-focus {
  bottom: 88px;
  left: 0.5em;
  width: 25px;
  height: 53px;
}

.ol-control.zoom > button {
  width: 25px;
  height: 25px;
}

.ol-overlay-container {
  &:not(.measurement-overlay) {
    height: 0;
    width: 0;
  }
}

.ol-unselectable.ol-control > ul {
  margin: 3px;
  height: 2.2em;
}
