/*
 *    class selectors 
 * classnames used in app scope 
 *
 */

.overlay-active {
    z-index: 999999999;
}

.menu-overlay {
    z-index: 99999999999;
}

.zoom {
    bottom: 38px;
    left: .5em;
    width: 25px;
    height: 53px;
}

.zoom>button {
    width: 25px;
    height: 25px;
}

.hide {
    display: none;
}

.visible {
    visibility: visible;
}

.active-tab {
    background-color: #707785;
}

.radar {
    position: initial !important;
    display: block;
    margin-top: 300px;
}

.highlight {
    margin: 0;
    padding: 0;
    background-color: #CCCFD6;
    color: rgb(81, 81, 81);
}

.hover-border:hover {
    border-bottom: 1px solid rgb(40, 47, 62);
}

.new-regulation-select-picker a {
    padding: 8px 0px;
}

.primary {
    background: rgba(5, 5, 94, 1);
}

.collapsed {
    display: none;
}