/*
 *    class selectors 
 * classnames used in app scope 
 *
 */

.hide {
    display: none;
}

.visible {
    visibility: visible;
}

.active-tab {
    background-color: #707785;
}

.highlight {
    margin: 0;
    padding: 0;
    background-color: #CCCFD6;
    color: rgb(81, 81, 81);
}

.collapsed {
    display: none;
}


/* classNames added via ol component */

.overlay-mission-hover {
    z-index: 5000;
    width: 0;
    height: 0;
}

.overlay-mission-selected {
    z-index: 4000;
    width: 0;
    height: 0;
}

.overlay-action-hover {
    z-index: 5500;
    width: 0;
    height: 0;
}