/*
 *    class selectors
 * classnames used in app scope
 *
 */

.hide {
  display: none;
}

.visible {
  visibility: visible;
}

.active-tab {
  background-color: #707785;
}

.highlight {
  margin: 0;
  padding: 0;
  background-color: #cccfd6;
  color: rgb(81, 81, 81);
}

.collapsed {
  display: none;
}
