/* type selectors */
body,
html,
* {
    margin: 0;
    font-family: 'Marianne', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
}

* {
    -webkit-box-sizing: revert;
    box-sizing: revert;
}

*::before,
*::after {
    -webkit-box-sizing: revert;
    box-sizing: revert;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 13px;
}

button,
[type="button"],
[type="submit"],
[type="reset"],
a.button,
label.button,
.button,
a[role="button"],
label[role="button"],
[role="button"],
[role="button"]:hover,
[role="button"]:focus {
    background: unset;
    color: unset;
    border: unset;
    text-decoration: unset;
    border-radius: unset;
    margin: unset;
    padding: unset;
}

button:hover,
button:focus,
[type="button"]:hover,
[type="button"]:focus,
[type="submit"]:hover,
[type="submit"]:focus,
[type="reset"]:hover,
[type="reset"]:focus,
a.button:hover,
a.button:focus,
label.button:hover,
label.button:focus,
.button:hover,
.button:focus,
a[role="button"]:hover,
a[role="button"]:focus,
label[role="button"]:hover,
label[role="button"]:focus,
[role="button"]:hover,
[role="button"]:focus {
    background: unset;
    border-color: unset;
}

button:hover,
button:focus {
    background: inherit;
}

label {
    padding: unset;
}

table:not(.horizontal) th,
table:not(.horizontal) td {
    overflow: unset;
    flex: unset;
}

table th,
table td {
    padding: unset;
}

table tr {
    display: table-row
}

tbody {
    display: contents !important;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


input:not([type]),
[type="text"],
[type="email"],
[type="number"],
[type="search"],
[type="password"],
[type="url"],
[type="tel"],
[type="checkbox"],
[type="radio"],
textarea,
select {
    margin: 0;
    padding: 0;
}


a:hover,
a:focus {
    color: #282F3E;
}


a:focus {
    outline: none;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}