<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Bilan hebdomadaire contrôle de l'environnement marin</title>
        <meta charset="UTF-8">
        <style>
            {% include "splendid.css" %}
        </style>
    </head>
    <body>
        <header>
            <h3>Bilan hebdomadaire contrôle de l'environnement marin</h3>
        </header>
        <hr>
        <main>
            <section>
                <p>Bonjour,</p>
                <p>Vous trouverez ci-joint les données des <strong>contrôles</strong> et des <strong>surveillances de l'environnement marin</strong> effectués par votre unité
                (<strong>{{ control_unit_name }}</strong>) <strong>entre le {{ from_date }} et le {{ to_date }}</strong> que vous avez rapportés au Centre d'Appui au Contrôle de l'Environnement Marin (CACEM).</p>
                <p>Seuls les contrôles et surveillances dont les données sont complètes sont transmis dans ce bilan hebdomadaire. Si certaines données n'ont pas encore été transmises (par ex. l'établissement d'un PV ou non),
                il est normal que le contrôle ne figure pas encore dans le rapport.</p>
                <p>Si des données sont manquantes, incorrectes ou incomplètes, n'hésitez pas à <strong>contacter le CACEM</strong>.</p>
            </section>
        </main>
        <footer class="no-vertical-margin">
            <hr/>
            <p>Centre d'Appui au Contrôle de l'Environnement Marin - Tél : +33 2 90 74 32 55</p>
        </footer>
    </body>
</html>